        header, footer {
            background-color: lightgreen;
            border: solid 1px black;
           /* font-family:'Times New Roman', Times, serif;*/
        }

        footer {
            padding:10px;
            border-radius:3px;
        }
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size:14px;
        }
